body {
	background-color: #d7d8e8;
	margin: 0;
}

a, a:visited {
	color: blue;
}

a, a:hover {
	text-decoration: none;
}

a:focus {
	outline: none;
}

img {
	border: none;
}

ul, li {
	margin: 0;
}

ul {
	padding-left: 1em;
}

.jsData {
	display: none;
}

#headerArea {
	background-color: #5d4b97;
	font-size: 1.5em;
}

#headerTitle {
	color: white;
	height: 35px;
	line-height: 35px;
	margin-left: 5px;
}

#toolbar {
	text-align: center;
}

#toolbar .dirLink {
	text-align: left;
}

#toolbar .toolbarMsg {
	margin-left: 5px;
	margin-right: 5px;
}

#showArea .toolbarMsg {
	margin-left: 5px;
	margin-right: 5px;
}

#showArea .dirContents {
	text-align: center;
}

#showArea .picOtherSize {
	text-align: left;
	margin-left: 70px;
}

#showArea .picOtherSizeSpan {
	display: none;
}

#showArea .treeFile {
	color: green;
}

#showArea #dataPic {
	text-align: center;
	padding-top: 5px;
}

