<?php
############################################################
# 以下設定為 KDGallery 網頁程式所使用
############################################################
# (int) 設定檔的版本，當升級時版本有更動會產生訊息
$CONF["version"] = 1;

# (string) Gallery 的標題
$CONF["title"] = "KD's Gallery";

# (string URL) Gallery 的網址，請用 '/' 結尾
# 或是保持空白，讓程式自動偵測 (建議)
# 若偵測結果有問題，請與 tsaikd@gmail.com 聯繫
#$CONF["link"] = "http://gallery.tsaikd.org/";

# (string Lang) 使用的語言檔
# 可用的語言檔請參考目錄 'lang'
$CONF["language"] = "zh_TW";

# (string Path) 額外的自定 footer，需使用 php 語言
#$BLOGCONF["extraFooter"][0] = "php/google_analytics.php";

############################################################
# 路徑設定
############################################################
# 下列路徑可用絕對路徑
# 也可以設定到 http server 沒開放的地方 (資料隱藏)
# 所有路徑不能重複
#
# (string Path) 快取檔的存放路徑 (http server 需可讀寫)
# 若系統中有使用 tmpfs 且記憶體空間足夠
# 則可以考慮將快取路徑設置在其中 (ex: "/tmp/kdgallery/cache")
# 若此目錄不存在，系統將會嘗試建立
# IMPORTANT: 即使不啟用快取，系統仍然需要此目錄
$CONF["path"]["cache"] = "cache";
# (string Path) 資料的路徑 (http server 需可讀取)
$CONF["path"]["data"] = "data";

############################################################
# 功能設定
############################################################
# (bool) 是否顯示 KDGallery 版本訊息
$CONF["func"]["version"]["enable"] = true;

############################################################
# 快取設定
############################################################
# (bool) 快取控制總開關，若要啟用任一快取，請將此選項啟動
$CONF["cache"]["enable"] = true;
# (bool) 快取 css 檔
$CONF["cache"]["css"]["enable"] = true;
# (bool) 快取 javascript 檔
$CONF["cache"]["js"]["enable"] = true;
# (bool) 快取縮圖
$CONF["cache"]["image"]["enable"] = true;

############################################################
# 其他設定
############################################################
# (int >= 0) 最大快取大小 (Bytes) (0: 無限制)
$CONF["func"]["cache"]["maxSize"] = 8*1024*1024;

# (string array) 合法縮圖大小
$CONF["func"]["image"]["validSize"] = array(
	  "0x0" // 原始大小
	, "100x100"
	, "200x200"
	, "640x480"
);

# (int > 0) 目錄列表預設縮圖寬度
$CONF["func"]["image"]["dirPicWidth"] = 200;

# (int > 0) 目錄列表預設縮圖高度
$CONF["func"]["image"]["dirPicHeight"] = 200;

# (int > 0) 目錄列表每行預設項目數量
$CONF["func"]["image"]["dirPicPerLine"] = 4;

# (int >= 0) 目錄列表每頁預設項目行數 (0: 無限制)
$CONF["func"]["image"]["dirLinePerPage"] = 2;

# (int > 0) 顯示圖片預設縮圖寬度
$CONF["func"]["image"]["showPicWidth"] = 640;

# (int > 0) 顯示圖片預設縮圖高度
$CONF["func"]["image"]["showPicHeight"] = 480;

############################################################
# 以下設定不建議修改，除非你知道你在做什麼
############################################################

# (string) Gallery 主機的 domain
# (ex: www.tsaikd.org)
$CONF["gurl"]["domain"] = $_SERVER["HTTP_HOST"];
# (string URL) Gallery 主機的網址，用 '/' 結尾
# (ex: http://gallery.tsaikd.org/)
$CONF["gurl"]["server"] = "http://".$CONF["gurl"]["domain"]."/";
# (string URL) Blog 首頁的網址，相對於主機網址，用 '/' 開頭 '/' 結尾
# (ex: /~tsaikd/gallery/)
$CONF["gurl"]["relpath"] = dirname($_SERVER["PHP_SELF"])."/";
if ($CONF["gurl"]["relpath"] == "//")
	$CONF["gurl"]["relpath"] = "/";

# 自動偵測 Blog 的網址
if (!isset($CONF["link"]))
	$CONF["link"] = $CONF["gurl"]["server"].substr($CONF["gurl"]["relpath"], 1);

# 設定根目錄
$CONF["path"]["root"] = dirname(__FILE__);

# 設定寫入檔案的權限
umask(0002);

# 載入語言檔
include_once("lang/".$CONF["language"].".php");

# 載入快取函數
include_once("php/cache.php");

?>
